<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Sr_AllowSymlink>
            <version>0.0.2</version>
        </Sr_AllowSymlink>
    </modules>
    <global>
        <models>
            <sr_allowsymlink>
                <class>Sr_AllowSymlink_Model</class>
            </sr_allowsymlink>
        </models>
    </global>
</config>
